* {
    margin: 0;
    border: 0;
    padding: 0;
}

.contenedor {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.relleno {
    width: 31%;
    color: #F4F4F4;
}

.titulo {
    color: #c05621;
    font-size: 15px;
}

.line {
    border: 1px solid #c05621;
    margin: 11px 0px 11px 0px;
}

.principal {
    width: 38%;
    padding: 30px 20px 30px 20px;
    border: 1.5px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.list {
    margin: 20px;
}

.texto1 {
    width: 96.8%;
    padding: 10px 0px 5px 17px;
    border: 2px solid #dd6b20;
    border-radius: 4px;
    background-color: #feebc8;
}

.texto2 {
    width: 96.8%;
    padding: 25px 0px 10px 17px;
    border: 2px solid #e53e3e;
    border-radius: 4px;
    text-align: left;
    padding-left: 17px;
    background-color: #fff5f5;
}

.texto3 {
    width: 96.8%;
    padding: 25px 0px 10px 17px;
    border: 2px solid #c53030;
    border-radius: 4px;
    text-align: left;
    padding-left: 17px;
    background-color: #fed7d7;
}

.titulos {
    color: #7b341e;
}